<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <div>
    <form action="/user/login" method="post">
      <label for="email">Enter your email :</label>
      <input type="email" name="email" id="email" placeholder="example@gmail.com"></br>
      <label for="password">Enter your password :</label>
      <input type="text" name="password" id="password"></br>
      <button type="submit">Submit</button></br>
    </form>
  </div>
  <div>
    <% if (locals.error) { %>
     <p><%= locals.error %></p>
    <% } %>
  </div>
</body>
</html>